/* @import url("https://f.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"); */

.whiteBox {
  width: 250px;
  height: 450px;

  background: white;
  border-radius: 15px;

  gap: 20px;

  padding: 15px;

  user-select: none;
}

.qr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  margin-bottom: 25px;
}

.textSpans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  gap: 10px;
}

.mainText {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: var(--slate-900);
  font-size: 20px;
}

.miniText {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--slate-500);
  font-size: 15px;
}
