@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --bg-primary: hsl(211, 89%, 11%); */
  --bg-primary: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(2, 0, 36, 1) 100%
  );
  /* светло-синий фон главной */
  --text-primary: hsl(118, 48%, 65%);
  /* тёмный текст */
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
  background: var(--bg-primary);
  /* ← динамический фон! */
  color: var(--text-primary);

  min-height: 100vh;
  line-height: 1.6;
}

button {
  margin: 0;
  padding: 0;
}

img {
  /* border-radius: 10px; */
  max-width: 100%;
  max-height: 100%;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ol ::marker {
  color: var(--text-titles);
  font-weight: bold;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

a {
  font-weight: 500;
  color: #a1a5f7;
  text-decoration: inherit;
}

a:hover {
  color: #e2e4ff;
}

/* ТЕМА ДЛЯ QR-CODE СТРАНИЦЫ */
[data-page="qr-code"] {
  --bg-primary: hsl(212, 45%, 89%);
  /* светло-синий фон главной */
  --text-primary: hsl(218, 44%, 22%);
  /* тёмный текст */
  --card-bg: hsl(0, 0%, 100%);
  /* белые карточки */
  --border: hsl(212, 45%, 89%);
  --accent: hsl(216, 15%, 48%);
}

[data-page="card-preview"] {
  --bg-primary: #f5d04e;
  /* светло-синий фон главной */
  --text-primary: hsl(218, 44%, 22%);
  /* тёмный текст */
  --card-bg: hsl(0, 0%, 100%);
  /* белые карточки */
  --border: hsl(212, 45%, 89%);
  --accent: hsl(216, 15%, 48%);
}

[data-page="social-links"] {
  --bg-primary: hsl(0, 0%, 8%);
  --text-primary: hsl(0, 0%, 100%);
  --text-accent: hsl(75, 94%, 57%);
  --card-bg: hsl(0, 0%, 12%);
  --links: hsl(0, 0%, 20%);
}

[data-page="recipe-page"] {
  --bg-primary: hsl(30, 54%, 90%);
  --text-titles: hsl(14, 45%, 36%);
  --text-primary: hsl(24, 5%, 18%);
  --text-accent: hsl(332, 51%, 32%);
  --card-bg: hsl(330, 100%, 98%);

  --whiteBox: hsl(0, 0%, 100%);
}

[data-page="article-preview"] {
  --bg-primary: hsl(212, 23%, 69%);
  --text-primary: hsl(214, 17%, 51%);
  --card-bg: hsl(217, 19%, 35%);
  --icon: hsl(210, 46%, 95%);
}

[data-page="sign-up"] {
  --bg-primary: hsl(234, 29%, 20%);
  --text-primary: hsl(235, 18%, 26%);
  --text-error: hsl(4, 100%, 67%);
  --input-border: hsl(0, 0%, 58%);
  --card-bg: hsl(0, 0%, 100%);
}

[data-page="time-track"] {
  --bg-primary: hsl(226, 43%, 10%);
  --text-primary: hsl(236, 100%, 87%);
  --card-bg: hsl(235, 46%, 20%);
  --card-bg-hover: hsl(235, 28%, 25%);

  --user-card-bg: hsl(246, 80%, 60%);
  --work-bg: hsl(15, 100%, 70%);
  --play-bg: hsl(195, 74%, 62%);
  --study-bg: hsl(348, 100%, 68%);
  --exercise-bg: hsl(145, 58%, 55%);
  --social-bg: hsl(264, 64%, 52%);
  --self-care-bg: hsl(43, 84%, 65%);
}
